  /* .slider .slick-track {
    margin-top: -40%;
    display: flex;

  }
  .slider .slick-arrow  {
      
   background-color: rgb(201, 52, 52);
  }
  .slider img  {
    width: 150px;
    height: 200px;
  } */